@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, :root {
  scrollbar-width: none;
}

body::-webkit-scrollbar,
:root::-webkit-scrollbar {
    display: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, #6366f1, #0099ff);
  transform-origin: 0%;
  z-index: 999
}

.paused {
  animation-play-state: paused;
}

/* Tooltip CSS */
[_img] {
  position: relative;
}

[_img]::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

[_img]:hover::after {
  opacity: 1;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
